.section {
  height: 100%;
}

.blback {
  display: grid;
  height: 100vh;
  grid-column-gap: 15px;
  grid-row-gap: 5px;
  grid-template-columns: 1fr 1.25fr 4.75fr 1fr;
  grid-template-rows: 58px auto auto 58px;
  background-color: #000;
  font-family: 'Px grotesk';
  color: #fff;
  font-weight: 100;
}

.grid {
  height: 100%;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
  grid-template-rows: auto auto auto;
  font-family: 'Px grotesk';
}

.body {
  font-family: 'Px grotesk';
}

.div-block {
  background-color: #b0a8fc;
}

.div-block-2 {
  float: right;
}

.image {
  margin-top: 6px;
  margin-bottom: 6px;
}

.headline {
  padding-left: 60px;
}

.text-block {
  font-family: 'Px grotesk webfont', sans-serif;
  color: #fff;
  font-size: 5em;
  line-height: 0.9em;
  font-weight: 300;
}

.div-block-3 {
  width: 200px;
  font-family: Pxgrotesk;
  line-height: 26px;
}

.div-block-4 {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  background-image: -webkit-linear-gradient(270deg, rgba(31, 30, 33, .3), rgba(31, 30, 33, .3)), url('../images/845619a0-0b3c-11e6-9456-444ab5211a2f.jpeg');
  background-image: linear-gradient(180deg, rgba(31, 30, 33, .3), rgba(31, 30, 33, .3)), url('../images/845619a0-0b3c-11e6-9456-444ab5211a2f.jpeg');
  background-position: 0px 0px, 50% 50%;
  background-size: auto, cover;
  background-repeat: repeat, no-repeat;
}

.div-block-5 {
  width: 100%;
  height: 50px;
}

.text-block-2 {
  width: 100%;
  padding-right: 14px;
  float: left;
  font-family: 'Px grotesk webfont', sans-serif;
  font-size: 14px;
  line-height: 26px;
  text-align: right;
}

.revoloutionaries {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  height: 80vh;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  background-color: #0f1011;
  font-family: 'Px grotesk webfont', sans-serif;
  color: #fff;
}

.revblock {
  display: grid;
  height: 80%;
  grid-column-gap: 3px;
  grid-row-gap: 3px;
  grid-template-columns: 40% 6% 1px 13% 1fr 1fr;
  grid-template-rows: auto auto 25px auto 57px auto auto;
}

.text-block-3 {
  font-weight: 300;
}

.hero {
  font-size: 25px;
  line-height: 29px;
  font-weight: 300;
  letter-spacing: 3px;
}

.div-block-6 {
  margin-top: 19px;
  padding-left: 19px;
}

.grid-2 {
  width: 90%;
  grid-column-gap: 0px;
  grid-row-gap: 0px;
  grid-template-columns: 70% 9% 69%;
  grid-template-rows: 15px 27px 20px;
}

.whitebox {
  display: grid;
  margin-left: -4px;
  padding-left: 12px;
  grid-column-gap: 16px;
  grid-row-gap: 16px;
  grid-template-columns: 1fr;
  grid-template-rows: auto;
  background-image: url('../images/WHITE.png');
  background-position: 0px 0px;
  background-size: 100% 15px;
  background-repeat: repeat-x;
}

.whitebox._25 {
  width: 100%;
  grid-column-gap: 1px;
  grid-row-gap: 1px;
  grid-template-columns: 1fr;
  grid-template-rows: auto;
  background-size: auto 25px;
}

.text-block-4 {
  padding-top: 40px;
  padding-left: 8px;
  font-size: 22px;
  font-weight: 300;
  letter-spacing: 4px;
}

.grid-3 {
  grid-template-rows: auto;
}

.text-block-5 {
  font-size: 20px;
  letter-spacing: 3px;
}

.div-block-7 {
  display: inline-block;
  width: 100%;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
}

.topper {
  -webkit-box-flex: 1;
  -webkit-flex: 1;
  -ms-flex: 1;
  flex: 1;
}

@media (max-width: 991px) {
  .blback {
    grid-row-gap: 10px;
  }
  .text-block-2 {
    width: 180px;
    padding-left: 33px;
    float: right;
    font-size: 14px;
    text-align: right;
  }
}

@media (max-width: 767px) {
  .blback {
    grid-template-columns: 27% 1.25fr 4.75fr 1fr;
  }
  .text-block-2 {
    width: 180px;
    padding-right: 20px;
    padding-left: 16px;
    float: right;
    text-align: right;
  }
}

@media (max-width: 479px) {
  .blback {
    grid-template-rows: 58px minmax(2%, 0.25fr) minmax(10%, 0.25fr) 700px;
  }
  .headline {
    padding-left: 10px;
  }
  .text-block {
    float: left;
  }
  .div-block-5 {
    -webkit-box-flex: 0;
    -webkit-flex: 0 auto;
    -ms-flex: 0 auto;
    flex: 0 auto;
  }
}

#w-node-327dcc007d2c {
  grid-column-start: 1;
  grid-column-end: 2;
  grid-row-start: 2;
  grid-row-end: 3;
}

@media screen and (max-width: 991px) {
  #w-node-327dcc007d2c {
    grid-column-start: 1;
    grid-column-end: 2;
    grid-row-start: 2;
    grid-row-end: 3;
  }
}

@media screen and (max-width: 767px) {
  #w-node-327dcc007d2c {
    grid-column-start: 1;
    grid-column-end: 2;
    grid-row-start: 2;
    grid-row-end: 3;
  }
}

@media screen and (max-width: 479px) {
  #w-node-327dcc007d2c {
    grid-column-start: 1;
    grid-column-end: 2;
    grid-row-start: 1;
    grid-row-end: 2;
  }
}

#w-node-c0dc3ca2aa24 {
  grid-column-start: 2;
  grid-column-end: 3;
  grid-row-start: 1;
  grid-row-end: 2;
}

#w-node-c0dc3ca2aa25 {
  grid-column-start: 1;
  grid-column-end: 5;
  grid-row-start: 4;
  grid-row-end: 5;
}

#w-node-c0dc3ca2aa26 {
  grid-column-start: 2;
  grid-column-end: 3;
  grid-row-start: 2;
  grid-row-end: 3;
}

#w-node-c0dc3ca2aa27 {
  grid-column-start: 3;
  grid-column-end: 4;
  grid-row-start: 3;
  grid-row-end: 4;
}

#w-node-c0dc3ca2aa28 {
  grid-column-start: 2;
  grid-column-end: 3;
  grid-row-start: 1;
  grid-row-end: 2;
}

#w-node-c0dc3ca2aa2a {
  grid-column-start: 1;
  grid-column-end: 2;
  grid-row-start: 1;
  grid-row-end: 2;
}

#w-node-c0dc3ca2aa2b {
  grid-column-start: 1;
  grid-column-end: 2;
  grid-row-start: 1;
  grid-row-end: 2;
}

#w-node-c0dc3ca2aa2c {
  grid-column-start: 1;
  grid-column-end: 4;
  grid-row-start: 1;
  grid-row-end: 3;
}

#w-node-c0dc3ca2aa2d {
  grid-column-start: 2;
  grid-column-end: 3;
  grid-row-start: 2;
  grid-row-end: 3;
}

#w-node-d16a44a4408f {
  grid-column-start: 1;
  grid-column-end: 2;
  grid-row-start: 3;
  grid-row-end: 4;
}

@media screen and (max-width: 991px) {
  #w-node-d16a44a4408f {
    grid-column-start: 1;
    grid-column-end: 2;
    grid-row-start: 3;
    grid-row-end: 4;
  }
}

@media screen and (max-width: 767px) {
  #w-node-d16a44a4408f {
    grid-column-start: 1;
    grid-column-end: 2;
    grid-row-start: 3;
    grid-row-end: 4;
  }
}

@media screen and (max-width: 479px) {
  #w-node-d16a44a4408f {
    grid-column-start: 1;
    grid-column-end: 5;
    grid-row-start: 2;
    grid-row-end: 3;
  }
}

#w-node-c00be33988ce {
  grid-column-start: 2;
  grid-column-end: 5;
  grid-row-start: 1;
  grid-row-end: 5;
}

@media screen and (max-width: 479px) {
  #w-node-c00be33988ce {
    grid-column-start: 1;
    grid-column-end: 5;
    grid-row-start: 3;
    grid-row-end: 5;
  }
}

#w-node-8cc069f6c556 {
  grid-column-start: 2;
  grid-column-end: 3;
  grid-row-start: 3;
  grid-row-end: 4;
}

#w-node-a7a79ec8a914 {
  grid-column-start: 1;
  grid-column-end: 2;
  grid-row-start: 2;
  grid-row-end: 3;
}

@media screen and (max-width: 991px) {
  #w-node-a7a79ec8a914 {
    grid-column-start: 1;
    grid-column-end: 2;
    grid-row-start: 2;
    grid-row-end: 3;
  }
}

@media screen and (max-width: 767px) {
  #w-node-a7a79ec8a914 {
    grid-column-start: 1;
    grid-column-end: 2;
    grid-row-start: 2;
    grid-row-end: 3;
  }
}

@media screen and (max-width: 479px) {
  #w-node-a7a79ec8a914 {
    grid-column-start: 1;
    grid-column-end: 2;
    grid-row-start: 1;
    grid-row-end: 2;
  }
}

@font-face {
  font-family: 'Px grotesk webfont';
  src: url('../fonts/px-grotesk-bold-webfont.woff') format('woff');
  font-weight: 700;
  font-style: normal;
}
@font-face {
  font-family: 'Px grotesk webfont';
  src: url('../fonts/px-grotesk-italic-webfont.woff') format('woff');
  font-weight: 400;
  font-style: italic;
}
@font-face {
  font-family: 'Px grotesk webfont';
  src: url('../fonts/px-grotesk-light-webfont.woff') format('woff');
  font-weight: 300;
  font-style: normal;
}
@font-face {
  font-family: 'Px grotesk webfont';
  src: url('../fonts/px-grotesk-lightitalic-webfont.woff') format('woff');
  font-weight: 300;
  font-style: italic;
}
@font-face {
  font-family: 'Px grotesk webfont';
  src: url('../fonts/px-grotesk-regular-webfont.woff') format('woff');
  font-weight: 400;
  font-style: normal;
}